<?xml version="1.0" encoding="UTF-8"?>

<module name="Checker">
    <module name="TreeWalker">
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="MemberName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="NeedBraces"/>
    </module>
</module>